//COLOR MODS
$Spot: rgb(221, 252, 223);
$SpotDark: rgb(221, 252, 223);
$Green: #3f5c40;
$DarkGreen: #1e301e;
$Bread: rgb(109, 102, 102);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  color: $Spot;
  font-family: open sans;

  &::selection {
    background: $Spot;
  }
}

html {
  background-image: url(./assets/img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  display: flex;
  padding-top: 2vw;
  z-index: 9999999;
  &.true {
    .st0 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st1 {
      fill: #1e301e;
    }
    .st4 {
      fill: #1e301e;
    }
    .st5 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st9 {
      path {
        fill: $SpotDark;
        mix-blend-mode: difference;
      }
    }
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;

    article {
      display: flex;
      gap: 2vw;
      text-transform: uppercase;

      span {
        position: relative;
        a {
          font-size: 1vw;
          position: relative;
          mix-blend-mode: difference;
          cursor: pointer;

          &:hover + .Hand,
          &.Active + .Hand {
            top: -65%;
            animation: Shake 1s 0.2s ease-in-out infinite alternate;
          }
        }
        .Hand {
          content: url("./assets/img/deco/Hand.svg");
          width: 1vw;
          position: absolute;
          top: -150%;
          left: 50%;
          transform: translate(-50%);
          transition: 0.1s ease-in-out;
        }
        @keyframes Shake {
          from {
            transform: translateY(-50%, 0px);
          }

          to {
            transform: translateY(-50%, 3px);
          }
        }
      }
    }
  }
  .st0 {
    fill: $Green;
    mix-blend-mode: normal;
  }
  .st1 {
    fill: black;
    mix-blend-mode: normal;
  }
  .st4 {
    fill: $Green;
  }
  .st5 {
    fill: black;
    mix-blend-mode: normal;
  }
  .st9 {
    path {
      fill: black;
      mix-blend-mode: normal;
    }
  }

  #Logo {
    width: 10vw;
    cursor: pointer;
  }
  #Title {
    width: 12vw;
    cursor: pointer;
  }
}

h5 {
  font-size: 5vw;
  text-align: center;
  line-height: 8;
  color: black;
}

#Home {
  #Galaxy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      border-radius: 50%;
      width: 26vw;
      height: 26vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    #CvBtt {
      position: absolute;
      width: 4vw;
      height: 4vw;
      font-size: 1.2vw;
      border-radius: 50%;
      background-color: $Green;
      border: none;
      outline: 4px solid $Green;
      outline-offset: -5px;
      margin: -17% 0 0 20%;
      cursor: pointer;
      transition: 0.1s;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $DarkGreen;
        outline: 5px solid $DarkGreen;
        outline-offset: 5px;
      }
      p {
        padding-top: 5px;
        position: absolute;
      }
    }

    svg {
      .st0 {
        fill: #1e301e;
      }
      .st1 {
        fill: #273d27;
      }
      .st2 {
        fill: #324c32;
      }
      .st3 {
        fill: #405c41;
      }
      .st4 {
        fill: #3f5c40;
      }

      scale: 110%;
      z-index: -1;

      #GroupGroupEarth3 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupEarth3 {
        animation: Spin 10s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring3 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring4 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring5 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring6 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #GroupEarth2 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupPluto1 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #GroupPluto2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole2 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }
    }

    @keyframes Spin {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes SpinR {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(-360deg);
      }
    }
  }
}

#About {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: relative;
  animation: FadeIn 0.5s backwards;

  @keyframes FadeIn {
    from {
      top: 3vw;
    }

    to {
      top: 0vw;
    }
  }

  h2 {
    text-transform: uppercase;
    padding-top: 2vw;
    font-size: 1vw;
    color: rgba(128, 128, 128, 0.357);

    .AboutTitle {
      color: rgba(128, 128, 128, 0.357);

      .false {
        color: rgba(128, 128, 128, 0.357);
      }
      .DayHighlight {
        color: black;
      }
    }
  }
  hr {
    width: 2.5vw;
    border-top: solid 0.2vw $Green;

    &.MorningTime {
      margin-left: 0vw;
    }
    &.DayTime {
      margin-left: 7.3vw;
    }
    &.EveningTime {
      margin-left: 13.8vw;
    }
  }

  main {
    background-color: rgba(255, 255, 255, 0.854);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 50vw;
    padding: 3vw 4vw;
    border-radius: 1vw;

    .FlexWrapper {
      display: flex;
      gap: 2vw;
    }
    h1 {
      font-size: 2vw;
      text-align: center;
      color: rgba(128, 128, 128, 0.357);
    }
    p {
      color: $Bread;
      padding-top: 1vw;
      font-size: 0.8vw;

      #WaveHand {
        font-size: 1vw;
      }

      &:nth-child(4) {
        padding-top: 0vw;
      }
    }

    #CV {
      ul {
        width: 11vw;
        padding-top: 0.1vw;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 0.5vw;
          font-size: 0.8vw;
          color: $Bread;

          img {
            width: 1vw;

            &.Shadow {
              box-shadow: rgba(0, 0, 0, 0.334) 0px 1px 4px;
            }
          }
        }
        &.NoFlex {
          li {
            display: block;
            .Bold {
              color: $Bread;
              font-weight: bold;
            }
            .Small {
              color: $Bread;
              font-size: 0.7vw;
            }
          }
        }
      }
    }
    #Skills {
      h2 {
        text-align: center;
      }
      hr {
        margin: auto;
      }
      ul {
        padding-top: 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5vw;
        li {
          background-color: $Green;
          color: white;
          font-size: 0.7vw;
          text-transform: uppercase;
          font-weight: bold;
          padding: 0.3vw 0.5vw;
          border-radius: 1vw;
        }
      }
    }
  }
}
#Contact {
  #Galaxy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;

    img {
      display: none;
    }
    #CvBtt {
      display: none;
    }

    svg {
      .st0 {
        fill: #3f5c40;
        opacity: 10%;
      }
      .st1 {
        fill: #3f5c40;
        opacity: 30%;
      }
      .st2 {
        fill: #3f5c40;
        opacity: 60%;
      }
      .st3 {
        fill: #3f5c40;
        opacity: 80%;
      }
      .st4 {
        fill: #3f5c40;
        opacity: 100%;
      }

      scale: 145%;
      z-index: -1;

      #GroupGroupEarth3 {
        display: none;
      }

      #GroupEarth3 {
        display: none;
      }

      #Ring1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring3 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring4 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring5 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring6 {
        display: none;
      }

      #GroupEarth2 {
        display: none;
      }

      #GroupPluto1 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #GroupPluto2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole2 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }
    }

    @keyframes Spin {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes SpinR {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(-360deg);
      }
    }
  }
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0vw;
    z-index: -1;

    #Card {

      background-image: url(./assets/img/BackgroundLight.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;


      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      background-color: $Green;
      transform-style: preserve-3d;
      transition: all 1s ease;
      z-index: 2;
      &.Flip {
        transform: rotateY(180deg);
      }
    }

    #FrontSide {

      
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      backface-visibility: hidden;
      overflow: hidden;

      h1 {
        position: absolute;
        top: 2.5vw;
        text-align: center;
        color: white;
        opacity: 50%;
        font-size: 2vw;
        text-transform: uppercase;
      }
      .Kontakt {
        position: absolute;
        top: 4.5vw;

        li {
          display: flex;
          gap: 1vw;
          justify-content: space-between;
          align-items: center;
          padding-top: 0.5vw;
          font-size: 0.7vw;
          color: white;
          opacity: 50%;

          img {
            width: 0.8vw;
            filter: brightness(100);
          }
        }
      }

      article {
        padding-top: 3.5vw;
        display: flex;
        gap: 0.5vw;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        p {
          width: 20vw;
          font-size: 0.8vw;
          text-align: center;
        }
        ul {
          li:nth-child(1) {
            &::after {
              content: " 👍";
              position: absolute;
              font-size: 0.8vw;
            }
          }

          li {
            font-size: 1vw;
            text-transform: capitalize;
            list-style: disc;
          }
        }
        img {
          width: 1vw;
          animation: ShakeSMall 1s 0.2s ease-in-out infinite alternate;
        }
        @keyframes ShakeSMall {
          from {
            transform: translateY( 0px);
          }

          to {
            transform: translateY( 3px);
          }
        }
      }

      .FlipButton {
        position: absolute;
        bottom: 2vw;
        padding: 0.5vw;
        border-radius: 50vw;
        color: $DarkGreen;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $DarkGreen;
        background-color: $DarkGreen;
        transition: 0.1s;
        &:hover {
          background-color: $DarkGreen;
          outline: 5px solid $DarkGreen;
          outline-offset: 5px;
        }
        img {
          width: 1.5vw;
        }
      }
    }
    #BackSide {
      border-radius: 50%;
      position: absolute;
      background-image: url(./assets/img/BackgroundDark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 1vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      backface-visibility: hidden;
      overflow: hidden;

      transform: rotateY(180deg);

      h1 {
        position: absolute;
        top: 2.5vw;
        text-align: center;
        color: white;
        opacity: 50%;
        font-size: 2vw;
        text-transform: uppercase;
      }
      .Kontakt {
        position: absolute;
        top: 4.5vw;

        li {
          display: flex;
          gap: 1vw;
          justify-content: space-between;
          align-items: center;
          padding-top: 0.5vw;
          font-size: 0.7vw;
          color: white;
          opacity: 50%;

          img {
            width: 0.8vw;
            filter: brightness(100);
          }
        }
      }


      .FlipButton {
        position: absolute;
        bottom: 0;
        bottom: 2vw;
        padding: 0.5vw;
        border-radius: 50vw;
        color: $Green;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $Green;
        background-color: $Green;
        transition: 0.1s;
        &:hover {
          background-color: $Green;
          outline: 5px solid $Green;
          outline-offset: 5px;
        }
        img {
          width: 1.5vw;
        }
      }
    }

    form {
      padding-top: 3vw;
      display: flex;
      gap: 1vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div:nth-child(1),
      div:nth-child(2) {
        display: flex;
        gap: 0.5vw;
      }

      div {
        input {
          padding: 0.5vw;
          border-radius: 0.5vw;
          border: solid 2px $Green;
          width: 8vw;

          color: black;
          font-size: 0.8vw;
          &::placeholder {
            text-transform: capitalize;
            font-size: 0.8vw;
            color: $Bread;
            font-weight: normal;
          }
          &:focus {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
          &:hover {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
        }
        textarea {
          padding: 0.5vw;
          border-radius: 0.5vw;
          border: solid 2px $Green;
          width: 16.5vw;
          height: 5vw;
          resize: none;
          background-color: white;
          color: black;
          font-size: 0.6vw;

          &::placeholder {
            text-transform: capitalize;
            font-size: 0.6vw;
            color: $Bread;
            font-weight: normal;
          }
          &:focus {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
          &:hover {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
      button {
        padding: 0.5vw;
        border-radius: 0.5vw;
        width: 8vw;

        color: $Bread;
        font-size: 0.8vw;
        font-weight: bold;
        border: solid 2px $Green;
        outline-offset: -5px;
        cursor: pointer;
        transition: 0.1s;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: $Spot;
          background-color: $Green;
          outline: 5px solid $Green;
          outline-offset: 5px;
        }
      }
    }
  }
}
