//COLOR MODS
$Spot: rgb(221, 252, 223);
$SpotDark: rgb(221, 252, 223);
$Green: #3f5c40;
$DarkGreen: #1e301e;
$Bread: rgb(109, 102, 102);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  color: $Spot;
  font-family: open sans;

  &::selection {
    background: $Spot;
  }
}

html {
  background-image: url(./assets/img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


body::-webkit-scrollbar {
  display: none;
}

h5 {
  font-size: 5vw;
  text-align: center;
  line-height: 8;
  color: black;
}

#PageAnimation {
  pointer-events: none;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/BackgroundDark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;

  &.Show {
    animation: PageAnimation 0.5s;
    opacity: 0;

    @keyframes PageAnimation {
      0% {
        opacity: 1;
      }

      99% {
        opacity: 0;
      }
      99% {
        opacity: 0;
      }
    }
  }

  #Galaxy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;

    img {
      display: none;
    }
    #CvBtt {
      display: none;
    }

    svg {
      .st0 {
        fill: $Spot;
      }
      .st1 {
        fill: $Spot;
      }
      .st2 {
        fill: $Spot;
      }
      .st3 {
        fill: $Spot;
      }
      .st4 {
        fill: $Spot;
      }

      scale: 110%;
      z-index: -1;

      #GroupGroupEarth3 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupEarth3 {
        animation: Spin 10s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring3 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring4 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring5 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring6 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #GroupEarth2 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupPluto1 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #GroupPluto2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole2 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }
    }

    @keyframes Spin {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes SpinR {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(-360deg);
      }
    }
  }

  #Title {
    width: 20vw;

    .st0 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st1 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st4 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st5 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st9 {
      path {
        fill: $SpotDark;
        mix-blend-mode: difference;
      }
    }
  }
}

header {
  width: 100%;
  display: flex;
  padding-top: 2vw;
  z-index: 9999999;
  &.HomePage {
    .st0 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st1 {
      fill: $DarkGreen;
    }
    .st4 {
      fill: $DarkGreen;
    }
    .st5 {
      fill: $Spot;
      mix-blend-mode: difference;
    }
    .st9 {
      path {
        fill: $SpotDark;
        mix-blend-mode: difference;
      }
    }
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;

    article {
      display: flex;
      gap: 2vw;
      text-transform: uppercase;

      span {
        position: relative;
        a {
          font-size: 1vw;
          position: relative;
          mix-blend-mode: difference;

          cursor: pointer;

          &:hover + .Hand,
          &.Active + .Hand {
            top: -65%;
          }
        }
        .Hand {
          content: url("./assets/img/deco/Hand.svg");
          width: 1vw;
          position: absolute;
          top: -150%;
          left: 50%;
          transform: translate(-50%, 0px);
          transition: 0.1s ease-in-out;
          animation: Shake 1s 0.2s ease-in-out infinite alternate;

          @keyframes Shake {
            from {
              transform: translate(-50%, 0px);
            }

            to {
              transform: translate(-50%, 3px);
            }
          }
        }
      }
    }
  }
  .st0 {
    fill: $Green;
    mix-blend-mode: normal;
  }
  .st1 {
    fill: black;
    mix-blend-mode: normal;
  }
  .st4 {
    fill: $Green;
  }
  .st5 {
    fill: black;
    mix-blend-mode: normal;
  }
  .st9 {
    path {
      fill: black;
      mix-blend-mode: normal;
    }
  }

  #Logo {
    width: 10vw;
    cursor: pointer;
  }
  #Title {
    width: 12vw;
    cursor: pointer;
  }
}

#Home {
  #Galaxy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      border-radius: 50%;
      width: 26vw;
      height: 26vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    #CvBtt {
      position: absolute;
      width: 4vw;
      height: 4vw;
      font-size: 1.2vw;
      border-radius: 50%;
      background-color: $Green;
      border: none;
      outline: 4px solid $Green;
      outline-offset: -5px;
      margin: -17% 0 0 20%;
      cursor: pointer;
      transition: 0.1s;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $DarkGreen;
        outline: 5px solid $DarkGreen;
        outline-offset: 5px;
      }
      p {
        padding-top: 5px;
        position: absolute;
      }
    }

    svg {
      .st0 {
        fill: #1e301e;
      }
      .st1 {
        fill: #273d27;
      }
      .st2 {
        fill: #324c32;
      }
      .st3 {
        fill: #405c41;
      }
      .st4 {
        fill: #3f5c40;
      }

      scale: 110%;
      z-index: -1;

      #GroupGroupEarth3 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupEarth3 {
        animation: Spin 10s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring3 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring4 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring5 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring6 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #GroupEarth2 {
        animation: Spin 40s infinite linear;
        transform-origin: center;
      }

      #GroupPluto1 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #GroupPluto2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole2 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }
    }

    @keyframes Spin {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes SpinR {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(-360deg);
      }
    }
  }
}

#Portfolio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  animation: FadeIn 0.5s backwards;

  @keyframes FadeIn {
    from {
      top: 3vw;
    }

    to {
      top: 0vw;
    }
  }

  main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 3vw 4vw;

    a {
      color: $Bread;
      font-size: 3vw;
      padding-bottom: 2vw;
    }

    article {
      p,
      i {
        color: $Bread;
        font-size: 1vw;
      }
    }
  }
}

#PortfolioCase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: relative;
  animation: FadeIn 0.5s backwards;

  @keyframes FadeIn {
    from {
      top: 3vw;
    }

    to {
      top: 0vw;
    }
  }

  #Modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    top: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: hidden;

    .HighlightImg {
      height: 90%;
    }

    $button-size: 40px;
    $close-width: ($button-size / 10);

    .close-button {
      top: 2vw;
      right: 2vw;
      position: absolute;
      width: $button-size;
      height: $button-size;
      overflow: hidden;
      > div {
        position: relative;
      }
      &-block {
        width: 40px;
        height: 20px;
        position: relative;
        overflow: hidden;
        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: calc(55% - 4px);
          display: block;
          width: 4px;
          height: 25px;
          transform-origin: bottom center;
          background: $Spot;
          transition: all ease-out 280ms;
        }
        &:last-of-type {
          transform: rotate(180deg);
        }
      }
      .in {
        .close-button-block {
          &:before {
            transition-delay: 280ms;
            transform: translateX(20px) translateY(-20px) rotate(45deg);
          }
          &:after {
            transition-delay: 280ms;
            transform: translateX(-22px) translateY(-22px) rotate(-45deg);
          }
        }
      }
      .out {
        position: absolute;
        top: 0;
        left: 0;
        .close-button-block {
          &:before {
            transform: translateX(-5px) translateY(5px) rotate(45deg);
          }
          &:after {
            transform: translateX(5px) translateY(5px) rotate(-45deg);
          }
        }
      }
      &:hover {
        .in {
          .close-button-block {
            &:before {
              transform: translateX(-5px) translateY(5px) rotate(45deg);
            }
            &:after {
              transform: translateX(5px) translateY(5px) rotate(-45deg);
            }
          }
        }
        .out {
          .close-button-block {
            &:before {
              transform: translateX(-20px) translateY(20px) rotate(45deg);
            }
            &:after {
              transform: translateX(20px) translateY(20px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  main {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.854);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 50vw;
    padding: 0vw 0vw 3vw;
    border-radius: 1vw;
    position: relative;

    img {
      width: 100%;
    }

    h1 {
      font-size: 2vw;
      padding-top: 2vw;
      text-align: center;
      color: rgba(128, 128, 128, 0.357);
      text-transform: uppercase;
    }
    h2 {
      font-size: 1vw;
      text-align: center;
      color: rgba(128, 128, 128, 0.357);
      text-transform: uppercase;
    }

    article {
      padding: 2vw 4vw;
      h3,
      h4 {
        text-transform: uppercase;
        font-size: 1vw;
        color: rgba(128, 128, 128, 0.357);
      }
      h4 {
        margin-top: 3vw;
      }
      hr {
        width: 2.5vw;
        border-top: solid 0.2vw $Green;
      }

      .Apps {
        display: flex;
        gap: 0.5vw;
        padding: 1vw 0 1.5vw;
        li {
          height: 0;
          list-style: none;
          padding: 0;
          img {
            width: 1.2vw;
            border-radius: 5px;
          }
        }
      }

      p,
      b {
        color: $Bread;
        font-size: 1.5vw;
      }
      b {
        text-transform: uppercase;
      }

      ul {
        li,
        b {
          color: $Bread;
          padding-top: 1vw;
          font-size: 0.8vw;
        }
        li {
          list-style: disc inside;
          text-transform: capitalize;
        }
      }
      .Grid {
        padding: 2vw 1vw;
        display: grid;
        gap: 0.5vw;
        grid-template-columns: 1fr 1fr 1fr;
        img {
          width: 100%;
          cursor: pointer;
        }
        div {
          position: relative;
          height: auto;
          width: auto;
          padding-bottom: 115%;
          img {
            position: absolute;
            width: 100%;
          }
          img:nth-child(2) {
            transition: 0.5s;
            &:hover {
              opacity: 0;
            }
          }
        }
      }
      .NoGrid {
        padding: 2vw 1vw 0;
        img {
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

#About {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: relative;
  animation: FadeIn 0.5s backwards;

  @keyframes FadeIn {
    from {
      top: 3vw;
    }

    to {
      top: 0vw;
    }
  }

  h2 {
    text-transform: uppercase;
    padding-top: 2vw;
    font-size: 1vw;
    color: rgba(128, 128, 128, 0.357);

    .AboutTitle {
      color: rgba(128, 128, 128, 0.357);

      .false {
        color: rgba(128, 128, 128, 0.357);
      }
      .DayHighlight {
        color: black;
      }
    }
  }
  hr {
    width: 2.5vw;
    border-top: solid 0.2vw $Green;

    &.MorningTime {
      margin-left: 0vw;
    }
    &.DayTime {
      margin-left: 7.3vw;
    }
    &.EveningTime {
      margin-left: 13.8vw;
    }
  }

  main {
    background-color: rgba(255, 255, 255, 0.854);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 50vw;
    padding: 3vw 4vw;
    border-radius: 1vw;

    .FlexWrapper {
      display: flex;
      gap: 2vw;
    }
    h1 {
      font-size: 2vw;
      text-align: center;
      color: rgba(128, 128, 128, 0.357);
      text-transform: uppercase;
    }
    p,
    i {
      color: $Bread;
      padding-top: 1vw;
      font-size: 0.8vw;

      #WaveHand {
        font-size: 1vw;
      }

      &:nth-child(4) {
        padding-top: 0vw;
      }
    }

    #CV {
      ul {
        width: 11vw;
        padding-top: 0.3vw;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.5vw;
          font-size: 0.8vw;
          color: $Bread;

          img {
            width: 1vw;

            &.Shadow {
              box-shadow: rgba(0, 0, 0, 0.334) 0px 1px 4px;
            }
          }
        }
        &.NoFlex {
          li {
            display: block;
            .Bold {
              color: $Bread;
              font-weight: bold;
            }
            .Small {
              color: $Bread;
              font-size: 0.7vw;
            }
          }
        }
        &.SocialLinks {
          display: flex;
          justify-content: flex-start;
          gap: 0.5vw;
          li {
            &:nth-child(3) {
              transform: rotateZ(90deg);
              position: relative;
              img {
                position: absolute;
                bottom: 1.5vw;
                right: 0;

                animation: ShakeSMall 1s ease-in-out infinite alternate;

                @keyframes ShakeSMall {
                  from {
                    transform: translateY(0px);
                  }

                  to {
                    transform: translateY(3px);
                  }
                }
              }
            }

            a {
              img {
                width: 1.5vw;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.334) 0px 1px 4px;
              }
            }
          }
        }
      }
    }
    #Skills {
      h2 {
        text-align: center;
      }
      hr {
        margin: auto;
      }
      ul {
        padding-top: 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5vw;
        li {
          background-color: $Green;
          color: white;
          font-size: 0.7vw;
          text-transform: uppercase;
          font-weight: bold;
          padding: 0.3vw 0.5vw;
          border-radius: 1vw;
          box-shadow: rgba(0, 0, 0, 0.334) 0px 1px 4px;
        }
      }
    }
  }
}

#Contact {
  #Galaxy {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -1;

    img {
      display: none;
    }
    #CvBtt {
      display: none;
    }

    svg {
      .st0 {
        fill: #3f5c40;
        opacity: 10%;
      }
      .st1 {
        fill: #3f5c40;
        opacity: 30%;
      }
      .st2 {
        fill: #3f5c40;
        opacity: 60%;
      }
      .st3 {
        fill: #3f5c40;
        opacity: 80%;
      }
      .st4 {
        fill: #3f5c40;
        opacity: 100%;
      }

      scale: 145%;
      z-index: -1;

      #GroupGroupEarth3 {
        display: none;
      }

      #GroupEarth3 {
        display: none;
      }

      #Ring1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring3 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring4 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring5 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
      }

      #Ring6 {
        display: none;
      }

      #GroupEarth2 {
        display: none;
      }

      #GroupPluto1 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #GroupPluto2 {
        animation: Spin 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole1 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }

      #DarkHole2 {
        animation: SpinR 30s infinite linear;
        transform-origin: center;
      }
    }

    @keyframes Spin {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes SpinR {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(-360deg);
      }
    }
  }
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0vw;
    z-index: -1;

    #Card {
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      background-color: $Green;
      transform-style: preserve-3d;
      transition: all 1s ease;
      z-index: 2;
      &.Flip {
        transform: rotateY(180deg);
      }
    }

    #FrontSide {
      background-image: url(./assets/img/BackgroundLight.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      border-radius: 50%;

      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      backface-visibility: hidden;
      overflow: hidden;

      h1 {
        position: absolute;
        top: 2.5vw;
        text-align: center;
        color: white;
        opacity: 50%;
        font-size: 2vw;
        text-transform: uppercase;
      }
      .Kontakt {
        position: absolute;
        top: 4.5vw;

        li {
          display: flex;
          gap: 1vw;
          justify-content: space-between;
          align-items: center;
          padding-top: 0.5vw;
          font-size: 0.7vw;
          color: white;
          opacity: 50%;

          img {
            width: 0.8vw;
            filter: brightness(100);
          }
        }
      }

      article {
        padding-top: 3.5vw;
        display: flex;
        gap: 0.5vw;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        p,
        i {
          width: 20vw;
          font-size: 0.8vw;
          text-align: center;
        }
        ul {
          li:nth-child(1) {
            &::after {
              content: " 👍";
              position: absolute;
              font-size: 0.8vw;
            }
          }

          li {
            font-size: 1vw;
            text-transform: capitalize;
            list-style: disc;
          }
        }
        img {
          width: 1vw;
          position: relative;
          animation: ShakeSMall 1s ease-in-out infinite alternate;
        }
        @keyframes ShakeSMall {
          from {
            transform: translateY(0px);
          }

          to {
            transform: translateY(3px);
          }
        }
      }

      .FlipButton {
        position: absolute;
        bottom: 2vw;
        padding: 0.5vw;
        border-radius: 50vw;
        color: $DarkGreen;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $DarkGreen;
        background-color: $DarkGreen;
        transition: 0.1s;
        &:hover {
          background-color: $DarkGreen;
          outline: 5px solid $DarkGreen;
          outline-offset: 5px;
        }
        img {
          width: 1.5vw;
        }
      }
    }
    #BackSide {
      border-radius: 50%;
      position: absolute;
      background-image: url(./assets/img/BackgroundDark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 1vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      backface-visibility: hidden;
      overflow: hidden;

      transform: rotateY(180deg);

      h1 {
        position: absolute;
        top: 2.5vw;
        text-align: center;
        color: white;
        opacity: 50%;
        font-size: 2vw;
        text-transform: uppercase;
      }
      .Kontakt {
        position: absolute;
        top: 4.5vw;

        li {
          display: flex;
          gap: 1vw;
          justify-content: space-between;
          align-items: center;
          padding-top: 0.5vw;
          font-size: 0.7vw;
          color: white;
          opacity: 50%;

          img {
            width: 0.8vw;
            filter: brightness(100);
          }
        }
      }

      .FlipButton {
        position: absolute;
        bottom: 0;
        bottom: 2vw;
        padding: 0.5vw;
        border-radius: 50vw;
        color: $Green;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px $Green;
        background-color: $Green;
        transition: 0.1s;
        &:hover {
          background-color: $Green;
          outline: 5px solid $Green;
          outline-offset: 5px;
        }
        img {
          width: 1.5vw;
        }
      }
    }
    form {
      padding-top: 3vw;
      display: flex;
      gap: 1vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div:nth-child(1),
      div:nth-child(2) {
        display: flex;
        gap: 0.5vw;
      }

      .InputWrapper,
      .InputWrapperError,
      .TextareaError {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        &.InputWrapperError,
        &.TextareaError {
          input,
          textarea {
            border: solid 2px red;
          }
        }
        input {
          padding: 0.5vw;
          border-radius: 0.5vw;
          border: solid 2px $Green;
          width: 8vw;

          color: black;
          font-size: 0.8vw;
          &::placeholder {
            text-transform: capitalize;
            font-size: 0.8vw;
            color: $Bread;
            font-weight: normal;
          }
          &:focus {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
          &:hover {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
        }
        textarea {
          padding: 0.5vw;
          border-radius: 0.5vw;
          border: solid 2px $Green;
          width: 16.5vw;
          height: 5vw;
          resize: none;
          background-color: white;
          color: black;
          font-size: 0.6vw;
          &::placeholder {
            text-transform: capitalize;
            font-size: 0.6vw;
            color: $Bread;
            font-weight: normal;
          }
          &:focus {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
          &:hover {
            outline: 5px solid $Green;
            outline-offset: 5px;
          }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }

      span {
        top: 2.3vw;
        position: absolute;
        color: red;
        font-size: 0.6vw;
        font-weight: 600;
      }
      .TextareaError {
        span {
          top: 5vw;
        }
      }

      button {
        padding: 0.5vw;
        border-radius: 0.5vw;
        width: 8vw;

        color: $Bread;
        font-size: 0.8vw;
        font-weight: bold;
        border: solid 2px $Green;
        outline-offset: -5px;
        cursor: pointer;
        transition: 0.1s;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: $Spot;
          background-color: $Green;
          outline: 5px solid $Green;
          outline-offset: 5px;
        }
      }
      #noShow {
        display: none;
      }
      #Show {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30vw;
        height: 30vw;
        top: 0vw;
        border-radius: 50%;

        div:nth-child(1),
        div:nth-child(2) {
          opacity: 0;
          position: absolute;
          width: 0vw;
          height: 0vw;
          border-radius: 50%;
          animation: pulse 1s 1s ease-out;
        }
        div:nth-child(2) {
          animation: pulse 1s 1.2s ease-out;
        }
        @keyframes pulse {
          0% {
            outline: 1vw solid #ffc83d;
            opacity: 100%;
            width: 2px;
            height: 2px;
          }
          100% {
            outline: 10vw solid #ffc83d;
            width: 40vw;
            height: 40vw;
            opacity: 0;
          }
        }

        p {
          top: 7vw;
          left: 8vw;
          transform: rotateZ(0deg) scale(110%);
          pointer-events: none;
          position: absolute;
          font-size: 10vw;
          animation: PopUp 1s ease-in-out;
        }
        @keyframes PopUp {
          0% {
            top: 30vw;
            transform: rotateZ(0deg);
          }

          50% {
            left: 8vw;
            transform: rotateZ(0deg) scale(110%);
          }

          80% {
            top: 3vw;
            left: 4vw;
            transform: rotateZ(-40deg) scale(110%);
          }

          100% {
            top: 7vw;
            left: 8vw;
            transform: rotateZ(0deg) scale(110%);
          }
        }
      }
    }
  }
}

#Error {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #Typewriter {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;

      .Typewriter {
        span:nth-child(1) {
          color: $Bread;
          font-weight: bold;
        }
        span:nth-child(2) {
          color: $Green;
          font-weight: bold;
        }
      }
    }
    .Typewriter_cursor::selection {
      background-color: red;
      color: red;
    }
  }
}
